body{
	background-color: #cef146;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: white;
    padding-top: 10px;
    height: inherit;
}

.top-logo{
    width: 40px;
    text-align: right;
}

.main-logo-only{
    width: 210px;
    margin-top: 60px;
}

.main-logo-letters{
    width: 450px;
    margin: 10px 0 60px;
}

.main-slogan{
    font-size: 2.5rem;
    color: #cef146;
    padding-bottom: 40px;
}

.main-phrase{
    font-size: 1rem;
}

.menu-container{
    color: rgb(242, 91, 137);
    padding: 10px;
    font-weight: 600;
}

.member-portrait{
    width: 140px;
    height: 140px;
    border: 2px solid white;
    border-radius: 50%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.member-portrait:hover:after{
    content: " ";
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-size: 40px auto;
    background-position: center center;
}

.member-lucas{
    background-image: url("../img/lucas-fugisawa.jpg");
    background-size: 240px auto;
    background-position: -70px center;
}

.member-felipe{
    background-image: url("../img/felipe-fabel.jpg");
    background-size: 140px auto;
    background-position: 0px center;
}

.member-adriano{
    background-image: url("../img/adriano-cola.jpg");
    background-size: 240px auto;
    background-position: -40px -30px;
}

.member-work{
    color: #cef146;
}

.footer-text{
    margin-top: 40px;
    margin-bottom: 20px;
}

.bubbles-container{
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-image: url('../img/bg.png');
    background-size: cover;
}

.mail-float{
    display: inline-block;
    background-color: rgb(231, 107, 107);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0px;
    top: 20%;
    padding: 12px;
    cursor: pointer;
    z-index: 1;
}

.mail-float:active{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
    transform: translate(0px,2px);
}

.mail-img{
    width: 30px;
}

.has-mail,.has-mail:hover,.has-mail:active,.has-mail:visited,.has-mail:visited{
	color: white;
}

a, a:hover{
    color: inherit;
}
